section.section-portfolio-project-about
	figure.portfolio-project-figure
		img.portfolio-project-img.img(
			src='/media/axasProjectKeyview.jpg'
			srcset='/media/axasProjectKeyview@2.jpg 2x'
			alt='preview of a landing page for axas project designed by Dima Radushev'
		)

	.portfolio-project-info
		a.portfolio-project-btn-backto.btn.btn-link.btn-backto(
			href=`/${curlang === deflang ? '' : curlang + '/'}portfolio/`
		)= self.btn.backto[curlang]
		h3.portfolio-project-title.title.title-3.title-line= self.portfolio.clientInfo[curlang]
		p.portfolio-project-desc.portfolio-project-desc-info= self.portfolio.axas.info[curlang]
		h3.portfolio-project-title.title.title-3.title-line= self.portfolio.servicesProvided[curlang]
		p.portfolio-project-desc= self.portfolio.axas.services[curlang]
