header.header-index.header.section-bg
	.wrapper
		.header-index-body
			h1.header-index-title.title.title-1
				span.header-index-title-word= self.mainscreen.title.text1[curlang]
				span.header-index-title-word= self.mainscreen.title.text2[curlang]
				span.header-index-title-word= self.mainscreen.title.text3[curlang]

			p.header-index-desc= self.mainscreen.desc[curlang]

			.header-index-buttons
				a.header-index-btn.btn.btn-1(href=`${basedir}contacts/`)= self.btn.contact[curlang]
				a.header-index-btn.btn.btn-2(
					href='/media/DesignerCV.pdf'
					download='Dima-Radushev-designer-developer-cv'
				)= self.btn.download[curlang]

			figure.header-index-figure
				img.header-index-img(src='/media/photo-radushev-min.png' alt='photo of Dima Radushev')
				figcaption.header-index-figcaption(hidden)= self.info.name[curlang]
