main.section-services.section.section-bg
	.wrapper
		.section-body
			h2.section-services-title.section-title.title.title-2.title-line= self.services.title[curlang]

			p.section-services-desc.section-desc= self.services.desc[curlang]

			ul.services-list
				- const servicesImgsName = { item1: 'devService', item2: 'webService', item3: 'designService' };
				each item, key in self.services
					if key.startsWith('item')
						li.services-item(class=`services-${key}`)
							.services-item-img-box
								img.services-item-img.img(
									src=`/media/${servicesImgsName[key]}.png`
									loading='lazy'
									alt=`image of ${key}`
								)

							h3.services-item-title.title.title-3= item.title[curlang]

							ul.services-item-desc-list
								each desc, key in item
									if key.startsWith('desc')
										li.services-item-desc.subtitle.shape(class=`services-item-${key}`)= desc[curlang]

							a.services-item-btn.btn.btn-1(href=`${basedir}contacts.html`)= self.btn.choose[curlang]
