section.section-testimonials.section.section-bg
	.wrapper
		.section__body
			h2.section-testimonials__title.section__title.title.title-2.title-line= self.testimonials.title[curlang]

			p.section-testimonials__desc.section__desc= self.testimonials.desc[curlang]

			ul.testimonials-slider
				- const testimonialsImgsName = { item1: 'veronikaTimpfeevaClient', item2: 'rustamKhakimovClient', item3: 'olegDudkoClient' };
				each item, key in self.testimonials
					if key.startsWith('item')
						li.testimonials-slider__item
							article.testimonials-item
								img.testimonials-item__img.img(
									src=`/media/${testimonialsImgsName[key]}.jpg`
									alt=`photo of a client ${key.slice(-1)}`
								)
								h2.testimonials-item__title.title.title-3= item.title[curlang]

								p.testimonials-item__caption= item.caption[curlang]

								p.testimonials-item__desc.subtitle= item.desc[curlang]

			ul.testimonials-slider__bullets
				each item, key in self.testimonials
					if key.startsWith('item')
						il.testimonials-slider__bullet
