aside.aside
	.aside-socials
		a.aside__item.aside-socials-link.icon-facebook(
			href=`https://www.${self.info.facebook[curlang]}`
			rel='nofollow noreferrer noopener'
			target='_blank'
		)
		a.aside__item.aside-socials-link.icon-behance(
			href=`https://www.${self.info.behance[curlang]}`
			rel='nofollow noreferrer noopener'
			target='_blank'
		)
		a.aside__item.aside-socials-link.icon-github(
			href=`https://www.${self.info.github[curlang]}`
			rel='nofollow noreferrer noopener'
			target='_blank'
		)

	button.aside__item.aside-scrolltop.scrolltop
