footer.footer
	.wrapper
		.footer-body
			.footer-credentials
				figure.footer-figure
					img.footer-logo(
						src='/media/logo-s-Radushev.svg'
						loading='lazy'
						alt='logo of Dima Radushev'
					)
					figcaption.footer-figcaption= self.title.index[curlang]
				p.footer-credits= `${self.footer.credits[curlang]} ©`
					time.footer-year= new Date().getFullYear()

			section.footer-services.footer-section
				h3.footer-section-title.title.title-3.title-line= self.footer.services.title[curlang]
				.footer-section-links.footer-nav-links
					each service, key in self.nav.services
						if typeof service !== 'string'
							a.footer-section-link.footer-nav-link(href=`${basedir}services/#${key}`)= service[curlang]

			section.footer-aboutme.footer-section
				h3.footer-section-title.title.title-3.title-line= self.footer.aboutme.title[curlang]
				.footer-section-links.footer-nav-links
					a.footer-section-link.footer-nav-link(href=`${basedir}skills/`)= self.nav.skills[curlang]
					a.footer-section-link.footer-nav-link(href=`${basedir}education/`)= self.nav.education[curlang]
					a.footer-section-link.footer-nav-link(href=`${basedir}experience/`)= self.nav.experience[curlang]

			section.footer-contacts.footer-section
				h3.footer-section-title.title.title-3.title-line= self.footer.contacts.title[curlang]
				.footer-section-links.footer-contacts-links
					a.footer-section-link.footer-contacts-link.icon-phone(
						href=`tel:${self.info.phone[curlang]}`
					)= self.info.phone[curlang]
					a.footer-section-link.footer-contacts-link.icon-mail(
						href=`mailto:${self.info.email[curlang]}`
					)= self.info.email[curlang]

					.footer-socials-links
						a.footer-socials-link.icon-facebook(
							href=`https://www.${self.info.facebook[curlang]}`
							rel='nofollow noreferrer noopener'
							target='_blank'
						)
						a.footer-socials-link.icon-behance(
							href=`https://www.${self.info.behance[curlang]}`
							rel='nofollow noreferrer noopener'
							target='_blank'
						)
						a.footer-socials-link.icon-github(
							href=`https://www.${self.info.github[curlang]}`
							rel='nofollow noreferrer noopener'
							target='_blank'
						)
