nav.nav
	.nav__body
		.nav__header
			a.nav__logo-link(href=basedir)
				img.nav__logo-img(src='/media/logo-l-Radushev.svg' alt='Dima Radushev logo')
			button.nav-toggler
				span.nav-toggler__lines

		.nav-menu
			each menuItemText, menuItemName in self.nav
				if menuItemName === 'home'
					a.nav__item.nav__link.icon-home(class={ 'nav__link--active': curpage === '/' } href=basedir)= menuItemText[curlang]
				else
					a.nav__item.nav__link(
						class=[`icon-${menuItemName}`, { 'nav__link--active': curpage === menuItemName }]
						href=`${basedir}${menuItemName}.html`
					)= menuItemText[curlang]

		address.nav-contact-info
			a.nav__item.nav__link.icon-phone(href=`tel:${self.info.phone[curlang]}`)= self.info.phone[curlang]
			a.nav__item.nav__link.icon-mail(href=`mailto:${self.info.email[curlang]}`)= self.info.email[curlang]

		.nav-langs(data-select)
			button.nav__item.nav-langs__btn(class=`flag-${curlang}` data-shower)
			.nav-langs__options
				each transl, lang in self.langs
					a.nav__item.nav-langs__option(
						class=`flag-${lang}`
						data-option
						data-selected=lang === curlang ? true : false
						hidden=lang === curlang ? true : false
						href=`/${lang === deflang ? '' : lang + '/'}${curpage === '/' ? '' : curpage + '.html'}`
					)= transl
