section.section-brands.section.section-bg
	.wrapper
		.section-body
			h2.section-title.title.title-2.title-line= self.experience.brands.title[curlang]

			p.section-desc= self.experience.brands.desc[curlang]

			ul.experience-brands
				- const brandsImgsName = { item1: 'lazLogo240', item2: 'ctgLogo240', item3: 'mtiLogo240', item4: 'sibisLogo240', item5: 'homeLogo240', item6: 'nicepageLogo240' };
				each item, key in self.experience.brands
					if key.startsWith('item')
						li.experience-brand
							img.experience-brand-img.img(
								src=`/media/${brandsImgsName[key]}.png`
								alt=`logo of the company: ${item[curlang]}`
								title=item[curlang]
							)
